html, body{
    height: 100%; /* body's height depends on html - html needs height so body can stretch */
    margin: 0; /* removes automatic 8px margin, which would incorrectly center */
}

body{
    display: flex; /* allows for horiz, vert alignment*/
    flex-direction: column; /* aligns children vertically */
    align-items: center; /* aligns items on vertical (cross) axis */
    justify-content: center; /* aligns items on horizontal (main) axis */ 

    font-family: Verdana;
    background-color: rgb(45, 45, 45);
}    

:root{
    --slotFace-height: 200px;
    --slotFace-width: calc(var(--slotFace-height) * 3/4);
}

.slotCol{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: calc(var(--slotFace-height) * 3);
    width: var(--slotFace-width);

    /* background-color: lightcoral; */
    /* outline: dashed red; */

    /* overflow: hidden; */
}

.slotRow{
    margin: auto;
    display: flex;

    width: calc(var(--slotFace-width) * 5);

    /* background-color: lightskyblue; */
    /* outline: dashed blue; */

    overflow: hidden; /*toggle to see obscured reels */
}

.slotFace{
    will-change: transform; /* tells the browser that transform will change, preventing optimizations that assume it will remain static */

    width: var(--slotFace-width);
    image-rendering: pixelated;
}
    
#buttonContainer{
    display: flex;
    /* background-color: lightpink; */
}

button{
    /* margin: auto; does nothing atm? */
    color: #171717;
    font-size: 2em;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    background: #ac2121;
    /* border-radius: 20px; */
    border-color: #171717;
    border-style: solid;
    border-width: 7px;
}

button:hover{
    background: #7d2020;
    border-color: #171717;
}

#resultText{
    font-size: 3em;
    color: rgb(228, 228, 228);
}